# macOS
.DS_Store

# Node.js
node_modules/
npm-debug.log*
yarn-error.log*
.env
dist/
coverage/

# Go
vendor/
*.exe
bin/

# Kubernetes
*.kubeconfig
.kube/
*-secret.yaml
*.key
*.crt

# IDE
.vscode/
.idea/

# Misc
*.log
tmp/